.wrapper {
  transform: translate(50%,50%);
  width: 30vw;
  height: 30vh;
  background: darkslateblue;

  display: flex;
  flex-direction: column;
  /*align-items: end;*/

}
.wrapper div {
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
  overflow: hidden;
}
.wrapper div.blur-effect {
  background: linear-gradient(to left, transparent 1rem, rgba(255,255,255, .8) 3rem, rgba(255,255,255, 1));
  color: transparent;
  background-clip: text;
}

.wrapper div span {
  background: white;
  color: transparent;
  background-clip: text;
}
.wrapper div span.blur-effect {
  background: transparent;
  color: transparent;
  background-clip: text;
}